/* source-sans-pro-regular - latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("https://magnier.io/content/images/fonts/source-sans-pro-v11-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
        url("../fonts/source-sans-pro-v11-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("https://magnier.io/content/images/fonts/source-sans-pro-v11-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("https://magnier.io/content/images/fonts/source-sans-pro-v11-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */
            url("https://magnier.io/content/images/fonts/source-sans-pro-v11-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("https://magnier.io/content/images/fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro")
            format("svg"); /* Legacy iOS */
}

/* Use Source Sans Pro font */
.post-full-content {
    font-family: "Source Sans Pro", Georgia, serif;
}
.post-full-content h5 {
    font-family: "Source Sans Pro", Georgia, serif;
}
.post-card-excerpt {
    font-family: "Source Sans Pro", Georgia, serif;
}
.site-header-content .author-meta {
    font-family: "Source Sans Pro", Georgia, serif;
}
.subscribe-overlay-description {
    font-family: "Source Sans Pro", Georgia, serif;
}